<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />


</head>
<body>
  <nav class="nav">
  <ul>

    
        
    <li><a href="https://music.apple.com/us/artist/beyonc%C3%A9/1419227">Stream</a></li></br>
   <li><a href="/albums/new">Share your thoughts</a></li> </br>
</ul>
</nav>



    <h1 class="animate__animated animate__zoomInUp">Beyhive</h1></br>
</br>
</br>
</br>
     <ul class="data">
       <% for(let i = 0; i < albums.length; i++) { %>
         <li >
             <div class="name">
               <a href="/albums/<%=albums[i]._id %>"><%= albums[i].name %> <br><br>
               </div>
                 <div id="img">
                   <img src="<%= albums[i].img%>"></a>
                 </div> 
                  <!-- Delete-->
             <form action="/albums/<%= albums[i]._id %>?_method=DELETE" method="POST">
                 <div class="del">
                     <input type="submit" value="DELETE" />
                     <a href="/albums/<%= albums[i]._id%>/edit">Edit</a>
                     
                
                 </div>
                </form>  
                </li>
               <%}%>
                </ul>
   




</body>
</html>