<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css">
        <style>
            img {
                justify-self: center;
            }
          p {
            font-size: large;
          }
        </style>
		<title>Beyhive</title>
	</head>
	<body>
    <h1>BeyHive</h1>

      <nav>
        <a href="/albums">Back to Albums List</a>
      </nav>
      <h1><%=albums.name %></h1>
      <h2><%=albums.year%></h2>
      <br />
      <img src="<%=albums.img%>">
      
      <ol>
        <%albums.songlist.forEach(song=>{%>
            <li><%=song%></li>
            <% }) %> 
      </ol>
      <p><%=albums.Review%></p>

     
    
     

  
    
	</body>
</html>